{% extends "nav1.html" %}
{% block content %}
{% load static %}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ab4f0c;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
        .product-image {
            max-width: 100px;  
            height: auto;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Date Joined</th>
                <th>Course</th>
                <th>Course Fee</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.student_name }}</td>
                <td>{{ s.address }}</td>
                <td>{{ s.age }}</td>
                <td>{{ s.joining_date}} </td>
                <td>{{ s.course.course_name }}</td>
                <td>{{ s.course.fee }}</td>


                <td><a href="{% url 'editpage' s.id %}">Edit</a><br>
                <a href="{% url 'deletepage' s.id %}">Delete</a><br></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
